<%# <%= render "plants/index", plants: @plants %>

<div class="homepage-general">
  <section id="welcome">
    <div class="center-template background-welcome">
      <h1>Small spaces didn't stop us.</h1>
      <h4>Plants are always a good idea. Bring your garden
      <br>inside and customize it to fit your space</h4>
      <div class="center-template">
        <button class="btn-round yellow" >
          <%= link_to "Design your space", design_path %>
        </button>
      </div>
      <div class="feat-title1">
        <h2>Featured Products</h2>
        <h5>Shop your perfect match</h5>
      </div>
    </div>
  </section>
  <section id="Featured-Products" class="center-template">
    <div class="shopfeatprod">
      <article class="cards">
        <div class="hvrbox">
          <%= image_tag 'montsera.png', alt: 'hey'%>
          <div class="space-between">
            <h3 class="left">Snake plant</h3>
            <h3 class="right">$24</h3>
          </div>
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
            <h3>Aleo vera</h3>
            <h4>Small - Esay to care</h4>
            Lorem ipsum dolor sit assssssssssssssssss jndwkfjnwe jidbnfij he ehv wefhj vejfh vjer fwvij rfljv elifkjvnlkjuse fv werij vijmet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.<br>-- Click to see more --
            </div>
          </div>
        </div>
        <button class ="btn-round red">
            Add to Cart
        </button>
      </article>
      <article class="cards">
        <div class="hvrbox">
          <%= image_tag 'montsera.png', alt: 'hey'%>
          <div class="space-between">
            <h3 class="left">Snake plant</h3>
            <h3 class="right">$24</h3>
          </div>
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
            <h3>Aleo vera
            </h3>
            <h4>Small - Esay to care
            </h4>
            Lorem ipsum dolor sit assssssssssssssssss jndwkfjnwe jidbnfij he ehv wefhj vejfh vjer fwvij rfljv elifkjvnlkjuse fv werij vijmet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.<br>-- Click to see more --
            </div>
          </div>
        </div>
        <div>
          <button class ="btn-round red">
            Add to Cart
          </button>
        </div>
      </article>
      <article class="cards">
        <div class="hvrbox">
          <%= image_tag 'montsera.png', alt: 'hey'%>
          <div class="space-between">
            <h3 class="left">Snake plant</h3>
            <h3 class="right">$24</h3>
          </div>
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
            <h3>Aleo vera
            </h3>
            <h4>Small - Esay to care
            </h4>
            Lorem ipsum dolor sit assssssssssssssssss jndwkfjnwe jidbnfij he ehv wefhj vejfh vjer fwvij rfljv elifkjvnlkjuse fv werij vijmet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.<br>-- Click to see more --
            </div>
          </div>
        </div>
        <div>
          <button class ="btn-round red">
            Add to Cart
          </button>
        </div>
      </article>
      <article class="cards">
        <div class="hvrbox">
          <%= image_tag 'montsera.png', alt: 'hey'%>
          <div class="space-between">
            <h3 class="left">Snake plant</h3>
            <h3 class="right">$24</h3>
          </div>
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
            <h3>Aleo vera
            </h3>
            <h4>Small - Esay to care
            </h4>
            Lorem ipsum dolor sit assssssssssssssssss jndwkfjnwe jidbnfij he ehv wefhj vejfh vjer fwvij rfljv elifkjvnlkjuse fv werij vijmet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.<br>-- Click to see more --
            </div>
          </div>
        </div>
        <div>
          <button class ="btn-round red">
            Add to Cart
          </button>
        </div>
      </article>
      <article class="cards">
        <div class="hvrbox">
          <%= image_tag 'montsera.png', alt: 'hey'%>
          <div class="space-between">
            <h3 class="left">Snake plant</h3>
            <h3 class="right">$24</h3>
          </div>
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
            <h3>Aleo vera
            </h3>
            <h4>Small - Esay to care
            </h4>
            Lorem ipsum dolor sit assssssssssssssssss jndwkfjnwe jidbnfij he ehv wefhj vejfh vjer fwvij rfljv elifkjvnlkjuse fv werij vijmet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.<br>-- Click to see more --
            </div>
          </div>
        </div>
        <div>
          <button class ="btn-round red">
            Add to Cart
          </button>
        </div>
      </article>
      <article class="cards">
        <div class="hvrbox">
          <%= image_tag 'montsera.png', alt: 'hey'%>
          <div class="space-between">
            <h3 class="left">Snake plant</h3>
            <h3 class="right">$24</h3>
          </div>
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
            <h3>Aleo vera
            </h3>
            <h4>Small - Esay to care
            </h4>
            Lorem ipsum dolor sit assssssssssssssssss jndwkfjnwe jidbnfij he ehv wefhj vejfh vjer fwvij rfljv elifkjvnlkjuse fv werij vijmet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.<br>-- Click to see more --
            </div>
          </div>
        </div>
        <div>
          <button class ="btn-round red">
            Add to Cart
          </button>
        </div>
      </article>
      <article class="cards">
        <div class="hvrbox">
          <%= image_tag 'montsera.png', alt: 'hey'%>
          <div class="space-between">
            <h3 class="left">Snake plant</h3>
            <h3 class="right">$24</h3>
          </div>
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
            <h3>Aleo vera
            </h3>
            <h4>Small - Esay to care
            </h4>
            Lorem ipsum dolor sit assssssssssssssssss jndwkfjnwe jidbnfij he ehv wefhj vejfh vjer fwvij rfljv elifkjvnlkjuse fv werij vijmet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.<br>-- Click to see more --
            </div>
          </div>
        </div>
        <div>
          <button class ="btn-round red">
            Add to Cart
          </button>
        </div>
      </article>
      <article class="cards">
        <div class="hvrbox">
          <%= image_tag 'montsera.png', alt: 'hey'%>
          <div class="space-between">
            <h3 class="left">Snake plant</h3>
            <h3 class="right">$24</h3>
          </div>
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
            <h3>Aleo vera
            </h3>
            <h4>Small - Esay to care
            </h4>
            Lorem ipsum dolor sit assssssssssssssssss jndwkfjnwe jidbnfij he ehv wefhj vejfh vjer fwvij rfljv elifkjvnlkjuse fv werij vijmet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.<br>-- Click to see more --
            </div>
          </div>
        </div>
        <div>
          <button class ="btn-round red">
            Add to Cart
          </button>
        </div>
      </article>
    </div>
    <div class="center-template">
      <a href="#" class="blacks">
        See all products
      </a>
    </div>
  </section>
  <section id="how-it-works">
    <div class="gif-background center-how-it-works">
      <h1>How it works</h1>
    </div>
    <div class="center-template bg-pink">

      <button class="btn-round black">
        Start designing
      </button>
    </div>
  </section>
  <section id="why-plants" class="center-template">
    <div class="background-why-plants">
      <div class="feat-title2">
        <h2>Why plants?</h2>
      </div>
    </div>

    <div class="threecol">
      <div class="care-padding">
        <div class="extramargin">
          <h3>Mental and Physical Health</h3>
          <p>Studies have shown indoor plants improve concentration and productivity, reduce stress levels, and boost your mood.</p>
        </div>
      </div>
      <div class="care-padding">
        <div class="extramargin">
          <h3>Cooking</h3>
          <p>Garnish your cocktails with fresh mint and rosemary, or make your own pesto with homegrown basil. </p>
        </div>
      </div>
      <div class="care-padding">
        <div class="extramargin">
          <h3>Plants Fight Pollution</h3>
          <p>Certain varieties clean indoor air by absorbing toxins, increasing humidity and producing oxygen.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="care-basics">
    <div>
      <h2 class="title">Care Basics</h2>

    </div>
    <div class="card-content">
      <div class="inner-card1">
        <%= image_tag 'planticon1.png', alt: 'hey'%>
        <h2>Light</h2>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="inner-card2">
        <%= image_tag 'planticon2.png', alt: 'hey'%>
        <h2>Water</h2>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="inner-card3">
        <%= image_tag 'planticon3.png', alt: 'hey'%>
        <h2>Potting</h2>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    <div>
      <h3>Browse Articles</h3>
    </div>
  </section>
  <section id="instagram">

  </section>

  <div id="showoff">
    <p> Show off your tiny garden</p>
  </div>

  <%#div class="instafeed">
    <% @insta_feed.each do |image| %>
      <%#= image_tag image.images.thumbnail.url%>
  <%#% end %>
  <%#/div>
  <div id="mytinygdn">
    <p> #mytinygarden </p>
  </div>
  <%# This is a great comment! %>

</div>
