<%# <%= render "plants/index", plants: @plants %>

    <div class="attachedsides">
        <section id="welcome" class="center lightgreybackground">
            <h1>Small spaces didn't stop us.</h1>
            <h4>Plants are always a good idea. Bring your garden
                <br>inside and customize it to fit your space</h4>
                <div class="center">
                    <button class="btnprimaryhome">
                        Design your space
                    </button>
                </div>
            </section>
            <section id="Featured-Products" class="center products">
                <div class="center">
                    <h2>Featured Products</h2>
                    <h5>Shop your perfect "plant match"</h5>
                </div>
                <div class="shopfeatprod">
                    <article class="cards">
                        <%= image_tag 'Confirmation_Page.jpg', alt: 'hey'%>
                        <div class="homefeatprod">
                            <h3 class="left">Snake plant $24</h3>
                            <!-- <h4 class="right">$24</h4> -->
                        </div>
                    </article>
                    <article class="cards">
                        <%= image_tag 'Confirmation_Page.jpg', alt: 'hey'%>
                        <div class="homefeatprod">
                            <h3 class="left">Snake plant $24</h3>
                            <!-- <h4 class="right">$24</h4> -->
                        </div>
                    </article>
                    <article class="cards">
                        <%= image_tag 'Confirmation_Page.jpg', alt: 'hey'%>
                        <div class="homefeatprod">
                            <h3 class="left">Snake plant $24</h3>
                            <!-- <h4 class="right">$24</h4> -->
                        </div>
                    </article>
                    <article class="cards">
                        <%= image_tag 'Confirmation_Page.jpg', alt: 'hey'%>
                        <div class="homefeatprod">
                            <h3 class="left">Snake plant $24</h3>
                            <!-- <h4 class="right">$24</h4> -->
                        </div>
                    </article>
                    <article class="cards">
                        <%= image_tag 'Confirmation_Page.jpg', alt: 'hey'%>
                        <div class="homefeatprod">
                            <h3 class="left">Snake plant $24</h3>
                            <!-- <h4 class="right">$24</h4> -->
                        </div>
                    </article>
                    <article class="cards">
                        <%= image_tag 'Confirmation_Page.jpg', alt: 'hey'%>
                        <div class="s"></div>
                        <div class="homefeatprod">
                            <h3 class="left">Snake plant $24</h3>
                            <!-- <h4 class="right">$24</h4> -->
                        </div>
                    </article>
                    <article class="cards">
                        <%= image_tag 'Confirmation_Page.jpg', alt: 'hey'%>
                        <div class="homefeatprod">
                            <h3 class="left">Snake plant $24</h3>
                            <!-- <h4 class="right"></h4> -->
                        </div>
                    </article>
                    <article class="cards">
                        <%= image_tag 'Confirmation_Page.jpg', alt: 'hey'%>
                        <div class="homefeatprod">
                            <h3 class="left">Snake plant $24</h3>
                            <!-- <h4 class="right">$24</h4> -->
                        </div>
                    </article>
                </div>
                <div class="center">
                    <button class="btnsecondaryhome">
                        See all products
                    </button>
                </div>
            </section>
            <section>
          </section>
        <div></div>
      </div>

      <div>
        <% @insta_feed.each do |image| %>
          <%= image_tag image.images.thumbnail.url %>
        <% end %>
        things
      <div>
