<!DOCTYPE html>
<html>
  <head>
    <title>Tiny Garden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navbar">
      <div id="inner-nav">
        <ul>
          <li><%= link_to "Shop", products_path, class: params[:action] == 'shop' ? 'nav-active' : ''  %></li>
          <li><%= link_to "Care", care_path, class: params[:action] == 'care' ? 'nav-active' : ''  %></li>
          <li><%= link_to "Design", design_path, class: params[:action] == 'design' ? 'nav-active' : '' %></li>
        </ul>
        <ul>
          <li class="animated bounce"><%= link_to 'Tiny Garden', root_path %></li>
        </ul>
        <div class="right-side-nav">
          <div class="dropdown" id="loginBox-position">
            <a href="#" id="drop-styles"><%= current_user ? "Account" : "Login" %></a>
            <div class="dropdown-content">
              <%= link_to('My Page', users_show_path, class: ('nav-active' if params[:action] == 'show' && params[:controller] == 'users')) if current_user %>
              <%= link_to('Logout', 
                destroy_user_session_path, 
                method: 'delete', 
                class: ('nav-active' if params[:action] == 'destroy' && params[:controller] == 'devise/registrations')) if current_user
              %>
              <%= link_to('Edit', 
                edit_user_registration_path, 
                class: ('nav-active' if params[:action] == 'edit' && params[:controller] == 'devise/registrations')) if current_user
              %>
              <%= link_to('Log In', 
                new_user_session_path, 
                class: ('nav-active' if params[:action] == 'new' && params[:controller] == 'devise/sessions')) unless current_user 
              %>
              <%= link_to('Sign Up', 
                new_user_registration_path, 
                class: ('nav-active' if params[:action] == 'new' && params[:controller] == 'devise/registrations')) unless current_user
              %>
            </div>
          </div>
          <span id="cart" ><%= link_to "Cart", root_path %></span>
        </div>
      </div>
    </nav>
    <div id="main">
      <%= yield %>
    </div>
    <footer id="general-footer">
      <div class="box">
        <div class="footer-left">
          <h2>Tiny Garden</h2>
          <p>Copyright. All rights reserved.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc sed blandit libero volutpat sed cras.</p>
        </div>
        <div class="footer-right">
          <%= image_tag 'Confirmation_Page.jpg', alt: 'facebook'%>
          <%= image_tag 'Confirmation_Page.jpg', alt: 'twitter'%>
          <%= image_tag 'Confirmation_Page.jpg', alt: 'Instagram'%>
        </div>
      </div>
    </footer>
  </body>
</html>
