<!DOCTYPE html>
<html>
  <head>
    <title>FinalTemplateC34</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navbar">
      <div>
        
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
