<!DOCTYPE html>
<html>
  <head>
    <title>Tiny Garden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav id="navbar">
      <div>
        <%= link_to 'Logout', destroy_user_session_path, method: 'delete' if current_user %>
      </div>
      <div>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Log In', new_user_session_path %>
        <%= link_to 'Home', root_path %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
